#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.colmenero-app{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.cardempresa{
  display: flex;
  flex-direction: column;
}
.form-emp{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
}
.form__btn{
  width: 60px;
}
.form__x{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 20px white;
}
button{
  cursor: pointer;
  opacity: 0.5;
  color: white;
}
button:hover{
  opacity: 1;
}
.btn1{
  position: absolute;
}
.form{
  width: 50%;
  padding: 30px;
  position: fixed;
  z-index: 999;
  background-color: black;
  border-radius: 25px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input{
  width: 90%;
  height: auto;
}


.form_disable{
  visibility: hidden;
}
.empresas-container{
  width: 100% !important;
}
.emp{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  position: relative;
}
.empresa_cont{
  width:  80%;
}
.nameEmp{
  font-size: 35px;
}
.btns{
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn2, .btn1{
  height: 50px;
  aspect-ratio: 1;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 30px black;
}
.btn3{
  width: 100px;
}
.form-cat{
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 999;
  background-color: black;
  padding: 30px;
  border-radius: 25px;
}
.btn_x{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoCat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardCat{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardCat:hover{
  box-shadow: 0px 0px 5px white;
}
.btnCat{
  width: 4%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
}
.nameCat{
  width: 10%;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  margin-left: 5px;
}
.desCat{
  width: 86%;
}