#root {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  color: black;
  background-color: #f2d8c6;
}
input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}
.colmenero-app{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.cardempresa{
  display: flex;
  flex-direction: column;
}
.form-emp{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
}
.form__btn{
  width: 60px;
}
.form__x{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 20px white;
  background-color: red;
}
button{
  cursor: pointer;
  opacity: 1;
  color: white;
  border: none;
  margin: 5px;
}
button:hover{
  opacity: 0.8;
  box-shadow: 0px 0px 10px yellow;
}
.btn1{
  position: absolute;
}
.form{
  width: 50%;
  padding: 30px;
  position: fixed;
  z-index: 999;
  background-color: black;
  border-radius: 25px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input{
  width: 90%;
  height: auto;
}
.form_disable{
  visibility: hidden;
}
.empresas-container{
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emp{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.empresa_cont{
  width:  100%;
  margin-top: 100px;
}
.nameEmp{
  font-size: 35px;
}
.btns{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 5px;
  right: 5px;
  gap: 5px;
}
.btn2{
  background-color: red;
}
.btn4{
  background-color: white;
  color: black;
}
.btn2, .btn1, .btn4{
  height: 50px;
  aspect-ratio: 1;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 30px black;
}
.btn3{
  width: 100px;
  color: black;
  font-weight: bold;
}
.form-cat{
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 999;
  background-color: black;
  padding: 30px;
  border-radius: 25px;
}
.btn_x{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_cat{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.infoCat{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 35px;
  gap: 10px;
  background-color: #fdd06c;
  color: black;
}
.cardCat{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.nameCat{
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}
.desCat{
  color: rgb(178, 122, 11);
  font-weight: bold;
}


/*configuracion botones*/
.btnsCat{
  display: flex;
  gap: 5px;
}
.btnCat{
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
}
.dll{
  background-color: red;
}
.edit{
  background-color: white;
  color: black;
}
.addCategory{
  width: 150px;
  height: 30px;
}
/**/
.formSubcat{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listasubcat{
  width: 90%;
}
.listdescripcion{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.descripcion{
  display: flex;
  align-items: center;
}